* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  CSS property that sets how the browser calculates an element's total width and height. With border-box, the width and height include the content, padding, and border. */
}

body {
    background-image: url(https://bit.ly/4bcK1Hc);
    background-repeat: no-repeat; /* CSS property that sets whether/how a background image will be repeated */
    background-size: cover; /*  CSS property sets the size of the element's background image. In this case, it ensures that it covers the entire viewport */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh; /* CSS property that sets the height of an element to 100% of the viewport height */
}

main {
    background-color: rgba(227, 193, 173, 0.85);
    position: relative; /* CSS property that sets the position of an element relative to its normal position */
    top: 30%;
    border: 1px solid;
    border-radius: 5px;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1 {
    margin-bottom: 20px;
}

#search {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;

}

#submit {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer; /*the cursor CSS property enstamblishes how the mouse should react when it is hovering over said element. In this case, the mouse will become a pointer.*/

}

#weather-wrapper {
    display: flex; /*The display CSS property either sets the layout of the target element (block or inline block) or the one of its children (grid, flex...). In this case, flex, the children are set out to grow flexibly around the space available in the element wrapper. */
    flex-direction: column; /*sets how flex items are placed in the flex container*/
    place-items: center; /* aligns items along both the block and inline directions at once. It sets the values of the align-items and justify-items properties.*/
    justify-content: space-between; /*defines how the browser distributes space between and around content items*/
}

#weather-search {
    display: flex;
    width: 50%;
}

#weather-data {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 1.5em;
    margin-top: 20px;

    text-align: center;
    align-items: center;
    gap: 12px;
}

#weather-data > img { /* CSS selector that targets the img element inside the weather-data element */
    border-radius: 50%;
    background-color: lightskyblue;
}